@model IEnumerable<SP23_G21_SHSMS.Models.Campuses.Symptom>

@{
    ViewData["Title"] = "Symptoms";
}

<h1>Symptoms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SymptomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SymptomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SymptomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
